// app global css in SCSS form
@import "main.css";
//add Dark as plugin then acess it as ...
// @click="$q.dark.toggle()"
//this only work for defined class_variables..
.body--light {
  //this work for light /dark mode
  --q-primary: #0026ff;
  --q-secondary: #1537a7;
  --q-accent: #cc00ff;

  --q-dark: #252525;
  --q-light: #000000;
  --q-dark-page: #252525;
  --q-light-page: #000613;

  --q-positive: #2aca50;
  --q-negative: #c0051b;
  --q-info: #00d0fa;
  --q-warning: #ffbb00;

  .text-sale {
    color: blue($color: #d4a300);
  }
  .bg-sale {
    color: blue($color: #ffffff);
    background: rgb(218, 178, 0);
  }

  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.body--dark {
  //this work for dark/light moode
  --q-primary: #0044ff;
  --q-secondary: #0030ce;
  --q-accent: #cc00ff;

  --q-dark: #011029;
  --q-light: #000000;
  --q-dark-page: #000000;
  --q-light-page: #000613;

  --q-positive: #0dbb35;
  --q-negative: #c0051b;
  --q-info: #00d0fa;
  --q-warning: #ffbb00;
}

//---------------------------- ColorPlate Definitions

.bg-cplate-2 {
  background: rgb(255, 0, 0);
}
.bg-cplate-0 {
  background: rgb(0, 0, 0);
}

.bg-cplate-1 {
  background: rgb(255, 0, 0);
}

.cplate-6 {
  color: rgb(255, 0, 0);
}
.cplate-0 {
  color: rgb(0, 0, 0);
}

.cplate-1 {
  color: rgb(41, 243, 0);
}
.cplate-2 {
  color: rgb(0, 87, 248);
}
.cplate-3 {
  color: rgb(255, 255, 255);
}
.cplate-4 {
  color: rgb(19, 255, 204);
}
.cplate-5 {
  color: rgb(184, 6, 255);
}
.cplate-5 {
  color: rgb(255, 208, 0);
}
//----------------backdrop_filters
.layout-Glass {
  backdrop-filter: blur(25px);
  background-color: rgba(255, 255, 255, 0);
  color: $grey-9;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.overlay-Glass {
  backdrop-filter: blur(85px);
  background-color: rgb(255, 255, 255);
  color: $grey-9;
  font-family: Ubuntu, Helvetica, sans-serif;
}
.overlay-Glass:before {
  background: inherit;
}
.overlay-GlassDark {
  background: inherit;
}

.iserviceMenuu-Glass {
  backdrop-filter: blur(16px); //better works when background_has transparency
  background-color: rgba(0, 0, 250, 0.233);
  color: $grey;

  font-family: Ubuntu, "apple-system", BlinkMacSystemFont, "Segoe UI";
}
.saleitContent-Glass {
  backdrop-filter: blur(3px);
  background-color: rgb(100, 91, 6);

  width: max-content;
  border: 1px solid rgb(117, 117, 117);
  max-width: 100%;

  border-radius: 4px;
  border: 0px solid rgba(255, 255, 255, 0.301);
  font-family: Ubuntu, "apple-system", BlinkMacSystemFont, "Segoe UI";
  text-transform: capitalize;
}

.saleitHeader-Glass {
  backdrop-filter: blur(100px);
  background-color: rgb(255, 254, 254);

  color: white;
  border-radius: 4px;
  font-family: Ubuntu, Helvetica, sans-serif;
  padding: 0.1vh;
}

.saleitMenu-Glass {
  backdrop-filter: blur(1px);
  background-color: rgb(247, 247, 247);

  border-radius: 4px;
  border: 0.02px solid rgba(255, 255, 255, 0.295);
  font-family: Ubuntu, Helvetica, sans-serif;
  padding: 0.5vh;
}

.saleitContentOps-Glass {
  backdrop-filter: blur(3px);
  background-color: rgba(216, 212, 195, 0.685);
  color: rgb(0, 0, 0);

  border: 1px solid red;
  max-width: 100%;
  padding: 0.5vh;

  border-radius: 7%;
  border: 0.02px solid rgba(255, 255, 255, 0.295);
  font-family: "apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.7rem;
}

.font0style {
  // font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 1px;
  color: $grey-10;

  border-radius: 2px;
  // font-weight: bolder;
}

.font0astyle {
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.5rem;
  color: rgb(105, 103, 103);
  padding: 3px;
  backdrop-filter: blur(600px);
  border-radius: 5px;
  font-weight: bold;
  text-transform: capitalize;
}
.font0astyle:hover {
  background-color: rgb(179, 176, 176);
  color: black;
  font-weight: lighter;
}
.horizontalLine {
  width: 70%;
  height: 2px;
  background-color: orange;
}
.horizontalLineBlack {
  width: 70%;
  height: 1px;
  background-color: rgb(182, 182, 182);
}
.verticalLine {
  width: 1px;
  height: 70%;
  background-color: orange;
}
.verticalLineBlack {
  width: 1px;
  height: 70%;
  background-color: rgb(182, 182, 182);
}

.fontastyle {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: $grey-10;
  background-color: transparentred;

  border-radius: 5px;
  font-weight: bolder;
}

.fontbstyle {
  font-family: Ubuntu, Helvetica;
  font-size: 0.7rem;
  color: $grey-10;
}

.fontcstyle {
  font-family: Ubuntu, Helvetica;
  font-size: 0.8rem;

  font-weight: bold;
}
.fontcstyle :hover {
  color: rgb(0, 65, 243);
}
.fontdstyle {
  font-family: sans-serif;
  font-size: 1rem;
  color: rgb(53, 53, 53);
  font-weight: bolder;
}
.fontestyle {
  font-family: Ubuntu, Helvetica;
  font-size: 1.3rem;
  color: rgb(53, 53, 53);
  font-weight: bolder;
}

// ------------------------------Buttons
.apple-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 25px; /* Rounded corners */
  border: 1px solid transparent;
  background-color: #fc3200; /* Apple blue for primary buttons */
  color: white;
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.apple-button:hover {
  background-color: #e69600; /* Darker blue on hover */
}

.apple-button:active {
  background-color: #005bb5; /* Even darker blue on active */
}

.apple-button-secondary {
  background-color: transparent;
  border: 1px solid #007aff;
  color: #ffffff;
  font-weight: bold;
}

.apple-button-secondary:hover {
  background-color: rgba(0, 122, 255, 0.1); /* Subtle blue tint on hover */
}

.apple-button-secondary:active {
  background-color: rgba(232, 232, 233, 0.2); /* Darker blue tint on active */
}

.apple-button-disabled {
  background-color: #e5e5ea;
  color: #8e8e93;
  cursor: not-allowed;
}
//----------
.box0style {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bolder;

  color: rgb(66, 66, 66);
  background-color: #ffa600da;
  border-radius: 3px;
  padding: 5px;
  // margin:5%;
  // min-height:5vh;
}
.box01style {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bolder;

  color: rgb(255, 255, 255);
  background-color: #fcac19;
  border-radius: 5px;
  padding: 0px;
  // margin:5%;
  // min-height:5vh;
}

.boxastyle {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: bolder;

  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  box-shadow: inset;
  border-radius: 6px;
  padding: 5px;
  box-shadow: #555;
  // margin:5%;

  // min-height:5vh;
}

.boxbstyle {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: black;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 5px;
  box-shadow: #555;
  // margin:5%;
  border: 0.1px solid rgb(180, 178, 178);
}

.boxcstyle {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 0.8rem;

  color: black;
  background: rgb(255, 255, 255);

  display: flex;
  flex-flow: column wrap;
  gap: 1%;

  box-shadow: inset;
  border-radius: 6px;
  padding: 5px;
  // margin:5%;
}

//-----------------
.warnMessage {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 0.8rem;

  color: rgb(255, 0, 0);
  background-color: rgb(236, 233, 233);
  box-shadow: inset;
  border-radius: 6px;
  padding: 5px;
  box-shadow: #000000;
  border: 0.008px solid black;
  // margin:5%;
  // min-height:5vh;
}
//-------------
.circleaStyle {
  border-radius: 25px;
  padding: 15px;

  border: 1 solid grey;
  background-color: white;
  color: black;
}
.circleaStyle:hover {
  border-radius: 5px;
  border: 0.5 solid rgb(255, 248, 248);
  background-color: rgb(211, 208, 208);
}

.circlebStyle {
  border-radius: 25px;
  padding: 15px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  border: 1 solid grey;
  background-color: white;
  color: black;
}

.style-hidescrollbar {
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}
/* Hide or minimize the scrollbar for WebKit browsers */
.style-hidescrollbar::-webkit-scrollbar {
  width: 0px; /* Set the width to 0 */
  height: 0px; /* Set the height to 0 (for horizontal scroll) */
}

.style-hidescrollbar::-webkit-scrollbar-thumb {
  background: transparent; /* Make the scrollbar thumb invisible */
}

//--------dialoges
.dialogConfirm {
  position: fixed;
  top: 0px;

  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.719);

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  gap: 1%;

  border-radius: 7px;
}

.dialoga {
  position: fixed;
  top: 0px;

  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.719);

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  gap: 1%;

  border-radius: 7px;
}

.dialogb {
  position: fixed;
  top: 0px;

  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(10px);
  background-color: rgba(155, 146, 146, 0.719);

  display: flex;

  justify-content: center;
  align-content: center;
  gap: 1%;

  border-radius: 7px;
}

//------------positioning Box and styling
.leftmidBox {
  position: fixed;
  top: 40%;
}

.bottomtip {
  display: none;
}
.bottomtip :hover {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 1vh;
  min-width: 1vh;
  top: 5%;
}

//----------Cards...
.cardinf {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 20px;
  overflow: hidden;
  text-align: center;
}
.cardinf img {
  width: 100%;
}
.cardinf-content {
  padding: 20px;
}
.cardinf-title {
  font-size: 24px;
  margin: 10px 0;
}
.cardinf-text {
  font-size: 16px;
  color: #666;
}
.cardinf-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}
.cardinf-button:hover {
  background-color: #0056b3;
}

.cardPL {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 1rem;
  color: black;
  background: whitesmoke;
  box-shadow: inset;
  border-radius: 6px;
  padding: 5px;
  box-shadow: #555;

  min-height: 5vh;
}
.cardPL img {
  width: 100%;
}
.cardPL-content {
  padding: 20px;
}
.cardPL-title {
  font-size: 20px;
  margin: 10px 0;
}
.cardPL-price {
  font-size: 18px;
  color: #e67e22;
}
.cardPL-description {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
}
.cardPL-button {
  display: inline-block;
  margin-top: 10px;
  padding: 0px 0px;
  border-radius: 15px;
  background-color: #0b7a39;
  color: #fff;
  transition: background-color 0.3s;
}
.cardPL-button:hover {
  background-color: #219150;
}

.product-card {
  font-family: Ubuntu, Helvetica, sans-serif;
  background: #fff;
  border: 1px solid #000000;
  border-radius: 10px;
  overflow: hidden;
  overflow: scroll;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  // width: calc(33.333% - 20px);
  max-height: 60vh;
  max-width: 60vw;
  min-width: 30vw;
  // text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;

  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
  padding: 1px;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card h4,
h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin: 10px 0;
  color: #333;
}

.product-card p {
  // font-size: 16px;
  // font-weight: bold;
  margin: 0px;
  color: #666;
  max-width: 50%;
  min-height: auto;
  overflow: scroll;
  text-overflow: ellipsis;
}

.product-card button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.product-card button:hover {
  background: #0056b3;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

//--------------- Float
.floatTransparentBox {
  position: absolute;
  top: 15px;
  left: 5%;
  width: 90%;
  height: 100%;

  background-color: transparent;
}

@media (max-width: 768px) {
  .product-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .product-card {
    width: calc(100% - 20px);
  }
}

// ------
.cardPopDetails {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 1rem;
  color: black;
  background: whitesmoke;
  box-shadow: inset;

  border-radius: 5px;
  // min-height:5vh;
  max-height: 60vh;

  max-width: 40vw;
  min-width: 30vw;

  overflow: scroll;

  transition: transform 0.3s, box-shadow 0.3s;

  display: flex;
  flex-flow: column nowrap;
  gap: 1px;
  padding: 5px;
  // margin:5px;
}
.cardPopDetails img {
  width: 100%;
}
.cardPopDetails-content {
  max-width: 100%;
  min-height: 2vh;
  overflow: scroll;
  text-overflow: ellipsis;

  font-family: Ubuntu;
  font-size: 0.8rem;
  // padding: 20px;
}
.cardPopDetails-title {
  max-width: 80%;
  min-height: 2vh;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 1rem;
  margin: 5px 0;
  font-weight: bold;
}
.cardPopDetails-meta {
  max-width: 100%;
  min-height: 2vh;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 0.7rem;
  margin: 1px 0;
  padding: 0px;
  // font-weight: bold;
}
.cardPopDetails-items {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-size: 1rem;
  color: black;
  background: whitesmoke;
  box-shadow: inset;
  border-radius: 6px;
  padding: 10px;
  box-shadow: #555;
  // font-size: 0.6rem;
  // margin: 5px 0;

  display: flex;
  flex-flow: row nowrap;
  gap: 7px;
  // font-weight: bold;
}

.cardPopDetails-price {
  font-size: 18px;
  color: #e67e22;
}
.cardPopDetails-description {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
}
.cardPopDetails-button {
  display: inline-block;
  margin-top: 10px;
  padding: 0px 0px;
  border-radius: 15px;
  background-color: #0b7a39;
  color: #fff;
  transition: background-color 0.3s;
}
.cardPopDetails-button:hover {
  background-color: #219150;
}
//------------------cplate Definitions as class

.triShapeU {
  min-width: 1vw;
  min-height: 1vw;
  background: rgb(1, 255, 1);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.triShapeD {
  min-width: 1vw;
  min-height: 1vw;
  background: rgb(255, 0, 0);
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}
//-------------------LayOut Wall - Global Styling

.WAL {
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 3em;

  &::before // sset the wall_Style & before any child tage draw this style
  {
    height: 10vh;
    position: fixed;
    content: "";
    top: 0;
    width: 100%;
    //background-color: #0077ff;
  }

  &__layout {
    margin: 0 auto;

    height: 100%;
    width: 100%;
    max-width: 100vw;
    border-radius: 2px;
  }

  .q-drawer--standard {
    .WAL__drawer-close {
      display: none;
    }
  }
}

@media (max-width: 850px) {
  //for screen size of below 850px
  .WAL {
    padding: 0;

    &__layout {
      margin: 0 auto;
      padding: 0px;
      z-index: 4000;
      height: 100%;
      width: 100%;
      max-width: 70vw;
      border-radius: 5px;
    }
  }
}
//---------------------------Replacing marquee with keyFrams animator
.marqueeBox {
  overflow: hidden;
  white-space: nowrap;
  min-width: 100vw;
  line-height: 50px;
  background-color: red;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee {
  display: inline-block;
  min-width: 100vw;
  animation: scroll 30s linear infinite; /* Adjust speed as needed */
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

//------------scrollarea
.scroll-area {
  width: 100%; /* Full width */
  overflow-y: auto; /* Enable vertical scrolling */
  padding-right: 15px; /* Add a padding to prevent content from overlapping the scrollbar */
  padding-bottom: 150px; /* Add a padding to prevent content from overlapping the scrollbar */
  box-sizing: content-box; /* Set box-sizing to content-box to prevent scrollbar from affecting width */
}

/* Optional: Customize scrollbar */
.scroll-area::-webkit-scrollbar {
  width: 0px;
}

.scroll-area::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
}

.scroll-area::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.scrollSelected_Row {
  width: 80%; /* Full width */
  overflow-x: auto; /* Enable vertical scrolling */
  padding-right: 0px; /* Add a padding to prevent content from overlapping the scrollbar */
  padding-bottom: 0px; /* Add a padding to prevent content from overlapping the scrollbar */
  box-sizing: content-box; /* Set box-sizing to content-box to prevent scrollbar from affecting width */
}

/* Optional: Customize scrollbar */
.scroll-area::-webkit-scrollbar {
  width: 0px;
}

.scroll-area::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
}

.scroll-area::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.sticky-table {
  /* height or max-height is important */
  max-height: 100%;
}
.q-table__top,
  .q-table__bottom
  // thead tr:first-child th
    /* bg color is important for th; just specify one */ {
  background-color: rgba(0, 89, 255, 0.288);
}

thead tr th {
  position: sticky;
  z-index: 1;
}

thead tr:first-child {
  position: sticky;
  top: 0;
}
/* this is when the loading indicator appears */
.q-table--loading thead tr:last-child th {
  /* height of all previous header rows */
  top: 48px;
}

/* prevent scrolling behind sticky top row on focus */
tbody {
  /* height of all previous header rows */
  scroll-margin-top: 48px;
}

// /-- mobile font size, color
/* Base styles for mobile devices (Mobile-first approach) */
.textStylea {
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}
/* Mobile Typography */
h1 {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 14px;
  line-height: 1.6;
}

/* Media query for tablet and desktop (min-width: 768px) */
.mobile {
  font-size: 0.6em;
  color: black;
  margin: 0px;
  padding: 0px;
}
@media (min-width: 0px) {
  .textStylea {
    padding: 0px;
    margin: 05px;
    font-size: 0.7em;
    font-weight: bold;
    line-height: 1.6;
    max-width: 40vw;
    overflow-y: auto;
  }
  h1 {
    padding: 0px;
    margin: 0px;
    font-size: 0.6em;
    font-weight: lighter;
    color: rgb(255, 252, 252);
    line-height: 1.6;
  }
  h2 {
    padding: 0px;
    margin: 0px;
    font-size: 0.8em;
    font-family: -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 2;
    font-weight: bold;
    color: black;
  }
  p {
    padding: 0px;
    margin: 0px;
    font-size: 0.6em;
    color: black;
    line-height: 1.6;
  }

  .box0style {
    font-size: 0.8em;
  }
  .box01style {
    font-size: 0.9em;
  }
}

.tablet {
  font-size: 0.6em;
  color: black;
  margin: 0px;
  padding: 0px;
}
@media (min-width: 768px) {
  .textStylea {
    padding: 0px;
    margin: 05px;
    font-size: 18px;
    line-height: 1.6;
    max-width: 40vw;
    overflow-y: auto;
  }
  h1 {
    padding: 0px;
    margin: 00px;
    font-size: 0.8em;
    line-height: 1.6;
  }

  p {
    padding: 0px;
    margin: 0px;
    color: black;
    font-size: 1em;
  }
}

/* Media query for large desktops (min-width: 1024px) */
.desktop {
  font-size: 1em;
  color: black;
  margin: 0px;
  padding: 0px;
}
@media (min-width: 1024px) {
  .textStylea {
    padding: 0px;
    margin: 05px;
    font-size: 12px;
    max-width: 40vw;
    overflow-y: auto;
    color: rgb(75, 74, 74);
  }
  h1 {
    padding: 0px;
    margin: 0px;
    font-size: 1.5em;
    font-family: -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 2;
    font-weight: bold;
    color: black;
  }
  h2 {
    padding: 0px;
    margin: 0px;
    font-size: 1.5em;
    font-family: -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 2;
    font-weight: bold;
    color: black;
  }

  p {
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
    color: black;
    font-size: 1.2em;
  }
}

.thumbStyle {
  right: 4px;
  border-radius: 5px;
  background-color: "#027be3";
  width: 5px;
  opacity: 0.75;
}

.barStyle {
  right: 2px;
  border-radius: 9px;
  background-color: "#027be3";
  width: 9px;
}
