/* tags   */
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-color);
}
